@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }

  .scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  }

  body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: "Montserrat", sans-serif;
  }

  #backdrop {
    background-image: url(/assets/backdrop.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  /* .portfolio {
    height: calc(100vh - 65px);
  } */

  /* .portfolio-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    justify-items: center;
  } */

  @media only screen and (min-width: 768px) {
    #backdrop {
      height: calc(100vh - 65px);
    }
  }
}
